<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CursorFinder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CursorFinder.Settings>
            <setting name="UseHotKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMouseClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModifierKey1" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ModifierKey2" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ModifierKey3" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="LetterKey" serializeAs="String">
                <value>Z</value>
            </setting>
        </CursorFinder.Settings>
    </userSettings>
</configuration>